// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$dark-blue: #29434e;
$light-blue: #819ca9;
$blue: #546e7a;

$yellow: #FDB631;
$orange: rgba(255,144,104, 1);
$light-orange: rgba(255,144,104, 0.3);
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
