.row {
  display: flex;
  justify-content: space-around;
  color: black;
}
.card {
  background-color: white;
  border: 1px;
  border-color: black;
  margin: 10px 20px;
  padding: 0px;
  box-shadow: 0 20px 40px -14px;
  transition: 0.3s;
  &:hover {
      transform: scale(1.1);
    }
}

.card img {
  max-width: 100%;
  height: auto;
  &:hover {
  filter: contrast(100%);
  }
}

.card-bottom {
  background-color: white;
  border: 1px solid lightgrey;
  //border-radius: 1rem;
  color: lightgrey;
  padding: 0.5rem;
  text-transform: lowercase;
}
