<!-- <div class="banner">
  <div class="banner-content">
    <h1 id="typed"></h1>
    <div class="subtitle">
      <p>Fullstack RoR developer and top business graduate</p>
    </div>
  </div>
</div>

<hr>
  <div class= "row">
    <div class="intro col-xs-12 col-sm-3 col-md-3">
      <h1 id= "sticky"> My Story</h1>
        <p class= tracking-in-contract id= "sticky2">We have tinto so maybe bring white  Moved to the UK, the place I now consider my home. My academic performance allowed me to course the International Baccalaureate at an American School 40 minutes South West of London.</p>
    </div>
    <div class="timeline col-xs-12 col-sm-8 col-md-8">
      <ul>
        <li>
          <div>
            <time>1996</time>
            I came into this world. More concretely into Madrid, Spain.
          </div>
        </li>
        <li>
          <div>
            <time>2007</time>
            Went to Ireland for two years where a family of four friendly Dubliners welcomed me into their home. There I studied the International Middle Years Diploma.
          </div>
        </li>
        <li>
          <div>
            <time>2012</time>
             Moved to the UK, the place I now consider my home. My academic performance allowed me to course the International Baccalaureate at an American School 40 minutes South West of London.
          </div>
        </li>
        <li>
          <div>
            <time>2014</time>
            Joined Queen Mary University to study a Bachelor in the Science of Business and Management
          </div>
        </li>
        <li>
          <div>
            <time>2015</time>
            Took my first steps in the coding world with HTML and CSS.
          </div>
        </li>
        <li>
          <div>
            <time>2016</time>
            Started an Edtech business and learnt basic Swift 3.
          </div>
        </li>
        <li>
          <div>
            <time>2017</time>
            Joined Le Wagon's Fullstack program where I learnt to create amazing web applications and much more. I also graduated from Queen Mary.
          </div>
        </li>
      </ul>
    </div>
  </div>
<hr>

   <div class= "row">
    <div class="intro col-xs-12 col-sm-3 col-md-3">
      <h1 id= "sticky"> My Skills</h1>
    </div>
    <div class='col-xs-12 col-sm-8 col-md-8'>
      <div class="card-area col-xs-12 col-sm-4 col-md-4">
        <div class="carding">
          <img class="img-responsive" src="https://d301sr5gafysq2.cloudfront.net/e17447e6d7b5/img/repo-avatars/ruby.svg" alt="JS">
          <div class="overlay">
             <h2>Ruby</h2>
              <p>
                <a href="#">See Code</a>
              </p>
          </div>
        </div>
      </div>
      <div class="card-area col-xs-12 col-sm-4 col-md-4">
        <div class="carding">
          <img class="img-responsive" src="https://pbs.twimg.com/profile_images/691206086955790336/CDMbA57p.png" alt="JS">
          <div class="overlay">
             <h2>Rails</h2>
              <p>
                <a href="#">See Code</a>
              </p>
          </div>
        </div>
      </div>
      <div class="card-area; col-xs-12 col-sm-4 col-md-4">
        <div class="carding">
          <img class="img-responsive" src="https://1071905752.rsc.cdn77.org/wp-content/uploads/2014/06/js_800x800-619x619.jpg?x48470" alt="JS">
          <div class="overlay">
             <h2>JAVASCRIPT (ES6)</h2>
              <p>
                <a href="#">See Code</a>
              </p>
          </div>
        </div>
      </div>
      <div class="card-area col-xs-12 col-sm-4 col-md-4">
        <div class="carding">
          <img class="img-responsive" src="https://thenewboston.com/images/forum/logos/145efe2aab7ca9959397d6344180b658.png" alt="JS">
          <div class="overlay">
             <h2>HTML</h2>
              <p>
                <a href="#">See Code</a>
              </p>
          </div>
        </div>
      </div>
      <div class="card-area col-xs-12 col-sm-4 col-md-4">
        <div class="carding">
          <img class="img-responsive" src="https://1071905752.rsc.cdn77.org/wp-content/uploads/2014/06/js_800x800-619x619.jpg?x48470" alt="JS">
          <div class="overlay">
             <h2>CSS3</h2>
              <p>
                <a href="#">See Code</a>
              </p>
          </div>
        </div>
      </div>
      <div class="card-area col-xs-12 col-sm-4 col-md-4">
        <div class="carding">
          <img class="img-responsive" src="https://1071905752.rsc.cdn77.org/wp-content/uploads/2014/06/js_800x800-619x619.jpg?x48470" alt="JS">
          <div class="overlay">
             <h2>MySQL</h2>
              <p>
                <a href="#">See Code</a>
              </p>
          </div>
        </div>
      </div>
    </div>
  </div>
 -->
<div class="container-fluid">
  <div class="banner ">
    <div class="banner--content ">
      <h1 id= typed></h1>
      <p>Fullstack Ruby on Rails Developer</p>
    </div>
  </div>
  <div class="flex">
    <div id= "sticky" class="row--left col-xs-12 col-sm-3 col-md-3">
      <h1>My Story</h1>
      <p>English language — most important skill for every developer. You will use it on a daily basis. Surprisingly a developer’s work is mainly not about writing, but reading. Most probably you will also use it in a communication with other team members/clients etc.
      Ambition — you don’t want to be a junior for years, right? Try to participate in solving harder problems, non only trivial ones.
      “I don’t know” approach — only if you admit, that you don’t know something, you can learn it. Usually more senior colleagues will be happy to help you with something if you say that you don’t know it. You don’t have to be shy because of that. It’s a normal process of learning.
      Willingness and desire to learn — try to show that desire to learn. Ask, spend additional time reading and coding your pet projects.
      Culture/company fit — this is huge and very important. If you feel you don’t belong to the company, or the company knows you don’t feel that spirit, it makes no sense to go that way for both of them. Your performance will go up only if you feel good in that environemnt.
      Knowledge where to look for an answer in Internet — as I wrote before — a developer is mainly reading, not writing. As a junior programmer you have to know where to find answers to your questions. Get familiar with Stackoverflow, forums, Google, …</p>
    </div>
    <div class="timeline row--right col-xs-12 col-sm-9 col-md-9">
      <ul>
        <li>
          <div>
            <time>1996</time>
            I came into this world. More concretely into Madrid, Spain.
          </div>
        </li>
        <li>
          <div>
            <time>2007</time>
            Went to Ireland for two years where a family of four friendly Dubliners welcomed me into their home. There I studied the International Middle Years Diploma.
          </div>
        </li>
        <li>
          <div>
            <time>2012</time>
             Moved to the UK, the place I now consider my home. My academic performance allowed me to course the International Baccalaureate at an American School 40 minutes South West of London.
          </div>
        </li>
        <li>
          <div>
            <time>2014</time>
            Joined Queen Mary University to study a Bachelor in the Science of Business and Management
          </div>
        </li>
        <li>
          <div>
            <time>2015</time>
            Took my first steps in the coding world with HTML and CSS.
          </div>
        </li>
        <li>
          <div>
            <time>2016</time>
            Started an Edtech business and learnt basic Swift 3.
          </div>
        </li>
        <li>
          <div>
            <time>2017</time>
            Joined Le Wagon's Fullstack program where I learnt to create amazing web applications and much more. I also graduated from Queen Mary.
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="flex">
    <div id= "sticky" class="row--left col-xs-12 col-sm-3 col-md-3">
      <h1>My Skills</h1>
      <p>English language — most important skill for every developer. You will use it on a daily basis. Surprisingly a developer’s work is mainly not about writing, but reading. Most probably you will also use it in a communication with other team members/clients etc.
      Ambition — you don’t want to be a junior for years, right? Try to participate in solving harder problems, non only trivial ones.
      “I don’t know” approach — only if you admit, that you don’t know something, you can learn it. Usually more senior colleagues will be happy to help you with something if you say that you don’t know it. You don’t have to be shy because of that. It’s a normal process of learning.
      Willingness and desire to learn — try to show that desire to learn. Ask, spend additional time reading and coding your pet projects.
      Culture/company fit — this is huge and very important. If you feel you don’t belong to the company, or the company knows you don’t feel that spirit, it makes no sense to go that way for both of them. Your performance will go up only if you feel good in that environemnt.
      Knowledge where to look for an answer in Internet — as I wrote before — a developer is mainly reading, not writing. As a junior programmer you have to know where to find answers to your questions. Get familiar with Stackoverflow, forums, Google, …</p>
    </div>
    <div class="row--right col-xs-12 col-sm-offset-1 col-sm-7 col-md-7">
      <div class="card--area flex">
        <div class="card--img-area">
          <img class="img-responsive" src="https://d301sr5gafysq2.cloudfront.net/e17447e6d7b5/img/repo-avatars/ruby.svg" alt="RoR">
          <div class="overlay">
              <h2>Ruby on Rails</h2>
              <p>
                <a href="#">See on GitHub</a>
              </p>
          </div>
        </div>
        <div class="card--text-area">
          <ul class='card--text-area-content'>
            <li><p>Understands the MVC paradigm.</p></li>
            <li><p>Uses ActiveRecord and knows about models, migrations, associations and validations.</p></li>
            <li><p>Has knowledge of Unit testing with Rspec.</p></li>
            <li><p>Very familiar with API as a concept and JSON as a format.</p></li>
            <li><p>Uses ERB.</p></li>
          </ul>
        </div>
        <div class="card--skill">
          <h3 id= "rubyOnRailsCircle"></h3>
        </div>

      </div>
      <div class="card--img-area">
        <img class="img-responsive" src="https://thenewboston.com/images/forum/logos/145efe2aab7ca9959397d6344180b658.png" alt="HTML5">
        <div class="overlay">
            <h2>CSS3</h2>
            <p>
              <a href="#">See Code</a>
            </p>
        </div>
      </div>
      <div class="card--img-area">
        <img class="img-responsive" src="http://kieranhunter.co.uk/perch/resources/sass.png" alt="saas">
        <div class="overlay">
            <h2>Sass</h2>
            <p>
              <a href="#">See Code</a>
            </p>
        </div>
      </div>
      <div class="card--img-area">
        <img class="img-responsive" src="https://1071905752.rsc.cdn77.org/wp-content/uploads/2014/06/js_800x800-619x619.jpg?x48470" alt="JS">
        <div class="overlay">
            <h2>CSS3</h2>
            <p>
              <a href="#">See Code</a>
            </p>
        </div>
      </div>
    </div>
  </div>
  <div class="flex">
    <div id= "sticky" class="row--left col-xs-12 col-sm-3 col-md-3">
      <h1>My Projects</h1>
      <p>I am a very goood man. Love life beacuse is too short to hate it</p>
    </div>
    <div class="row--right col-xs-12 col-sm-9 col-md-9">
      <div class="carousel-area">
        <div id="my-carousel" class="carousel slide" data-ride="carousel">
          <!-- Carousel indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>
          <!-- Wrapper for carousel items -->
          <di2v class="carousel-inner">
            <div class="item active">
              <img src="http://educrewapp.com/wp-content/uploads/2017/04/Sin-ti%CC%81tulo-4-01-1.png" alt="First Slide">
            </div>
            <div class="item">
              <img src="http://educrewapp.com/wp-content/uploads/2017/04/Sin-ti%CC%81tulo-4-03-1.png" alt="Second Slide">
            </div>
            <div class="item">
              <img src="http://educrewapp.com/wp-content/uploads/2017/01/Recurso-1.png" alt="Third Slide">
            </div>
          </div>
          <!-- Carousel controls -->
          <a class="carousel-control left" href="#my-carousel" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="carousel-control right" href="#my-carousel" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
      </div>
      <div class="flex">
        <div class="text-area">
          <h3>educrew.app</h3>
          <p>I worked on educrew sinde I was born.</p>
          <div class="carousel--icons flex">
          </div>
        </div>
        <div class="technologies">
          <p>This is where technology goes.</p>
          <div class="flex">
            <a href="">
              <img src="" alt="">
            </a>
            <a href="">
              <img src="" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

































































