
<div class="container">
  <h1>My Work</h1>
  <div class="row">
    <div class="col-xs-6 col-sm-4 col-md-4">
      <div class="card educrew">
        <img src="https://www.w3schools.com/css/img_fjords.jpg" alt="Educrew">
        <div class="card-bottom">
          <h2>educrew.io</h2>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-10 col-md-10">
      <div class="card educrew">
        <div class="card-top">
          <img src="https://www.w3schools.com/css/img_fjords.jpg" alt="Educrew">
        </div>
        <div class="card-bottom">
          <h2>educrew.io</h2>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-4">
      <div class="card educrew">
        <img src="https://www.w3schools.com/css/img_fjords.jpg" alt="Educrew">
        <div class="card-bottom">
          <h2>educrew.io</h2>
        </div>
      </div>
    </div

